<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
