<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3436</string>
    <key>com.schriftgestaltung.axes</key>
    <array>
      <dict>
        <key>name</key>
        <string>Width</string>
        <key>tag</key>
        <string>wdth</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.axesValues</key>
    <array>
      <integer>200</integer>
    </array>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>EditView Line Height</string>
        <key>value</key>
        <integer>1000</integer>
      </dict>
    </array>
    <key>com.schriftgestaltung.font.userData</key>
    <dict>
      <key>GSDimensionPlugin.Dimensions</key>
      <dict>
        <key>m003</key>
        <dict>
          <key>oV</key>
          <string>92</string>
        </dict>
      </dict>
    </dict>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m002</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.iconName</key>
    <string>Extended</string>
    <key>com.schriftgestaltung.master.name</key>
    <string>Regular Wide</string>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <true/>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>uni01CD</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>B</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>uni1EBC</string>
      <string>uni018F</string>
      <string>F</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>uni0122</string>
      <string>Gdotaccent</string>
      <string>uni1E20</string>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>J</string>
      <string>uni004A0301</string>
      <string>Jcircumflex</string>
      <string>K</string>
      <string>uni0136</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>uni013B</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>uni0145</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>uni01D1</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>uni0156</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>uni0218</string>
      <string>uni1E9E</string>
      <string>T</string>
      <string>Tcaron</string>
      <string>uni0162</string>
      <string>uni021A</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>uni1EF8</string>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>A.ss01</string>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>uni01CE</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>b</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>eth</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>uni1EBD</string>
      <string>uni0259</string>
      <string>f</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>uni0123</string>
      <string>gdotaccent</string>
      <string>uni1E21</string>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>i</string>
      <string>dotlessi</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>i.loclTRK</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>j</string>
      <string>uni0237</string>
      <string>uni006A0301</string>
      <string>jcircumflex</string>
      <string>k</string>
      <string>uni0137</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>uni013C</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>uni0146</string>
      <string>ntilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>uni01D2</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>q</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>uni0157</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>uni0219</string>
      <string>germandbls</string>
      <string>t</string>
      <string>tcaron</string>
      <string>uni0163</string>
      <string>uni021B</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>uni1EF9</string>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>a.ss01</string>
      <string>j.ss01</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_k</string>
      <string>f_f_l</string>
      <string>f_i</string>
      <string>f_l</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>fraction</string>
      <string>onehalf</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>uni2070</string>
      <string>uni00B9</string>
      <string>uni00B2</string>
      <string>uni00B3</string>
      <string>uni2074</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>.notdef</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>florin</string>
      <string>uni2609</string>
      <string>uni263E</string>
      <string>uni263F</string>
      <string>female</string>
      <string>uni2648</string>
      <string>uni2649</string>
      <string>uni264A</string>
      <string>uni264B</string>
      <string>uni264C</string>
      <string>uni264D</string>
      <string>uni264E</string>
      <string>uni264F</string>
      <string>uni2650</string>
      <string>uni2651</string>
      <string>uni2652</string>
      <string>uni2653</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>degree</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>cent</string>
      <string>currency</string>
      <string>dollar</string>
      <string>Euro</string>
      <string>sterling</string>
      <string>yen</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>notequal</string>
      <string>greater</string>
      <string>less</string>
      <string>greaterequal</string>
      <string>lessequal</string>
      <string>plusminus</string>
      <string>approxequal</string>
      <string>asciitilde</string>
      <string>logicalnot</string>
      <string>asciicircum</string>
      <string>uni00B5</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>arrowup</string>
      <string>uni2197</string>
      <string>arrowright</string>
      <string>uni2198</string>
      <string>arrowdown</string>
      <string>uni2199</string>
      <string>arrowleft</string>
      <string>uni2196</string>
      <string>arrowboth</string>
      <string>arrowupdn</string>
      <string>uni0308</string>
      <string>uni0307</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>uni030B</string>
      <string>uni030C.alt</string>
      <string>uni0302</string>
      <string>uni030C</string>
      <string>uni0306</string>
      <string>uni030A</string>
      <string>tildecomb</string>
      <string>uni0304</string>
      <string>uni0312</string>
      <string>uni0326</string>
      <string>uni0327</string>
      <string>uni0328</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>grave</string>
      <string>acute</string>
      <string>hungarumlaut</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>ring</string>
      <string>tilde</string>
      <string>macron</string>
      <string>cedilla</string>
      <string>ogonek</string>
      <string>_corner.LeftSerifL</string>
      <string>_corner.LeftSerifS</string>
      <string>_corner.LeftSerifL.lowercase</string>
      <string>_corner.LeftSerifS.lowercase</string>
      <string>_segment.curve.capheight.inner</string>
      <string>_segment.curve.capheight.outer</string>
      <string>_Etop</string>
      <string>_Stem</string>
      <string>_aquariusside</string>
      <string>_ariesright</string>
      <string>_astriskside</string>
      <string>_braceside</string>
      <string>_bracketside</string>
      <string>_cancerside</string>
      <string>_halfcircle</string>
      <string>_horn</string>
      <string>_piscesside</string>
      <string>_roundedcorner</string>
      <string>_tip</string>
      <string>_b.bowl</string>
      <string>_d.bowl</string>
      <string>_n.side</string>
      <string>_stem.foot</string>
      <string>_stem.short</string>
      <string>_stem.long.top</string>
      <string>_stem.short.top</string>
      <string>_stem.long.top.indentright</string>
    </array>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>_Etop</string>
      <string>_Stem</string>
      <string>_aquariusside</string>
      <string>_ariesright</string>
      <string>_astriskside</string>
      <string>_b.bowl</string>
      <string>_braceside</string>
      <string>_bracketside</string>
      <string>_cancerside</string>
      <string>_corner.LeftSerifL</string>
      <string>_corner.LeftSerifL.lowercase</string>
      <string>_corner.LeftSerifS</string>
      <string>_corner.LeftSerifS.lowercase</string>
      <string>_d.bowl</string>
      <string>_halfcircle</string>
      <string>_horn</string>
      <string>_n.side</string>
      <string>_piscesside</string>
      <string>_roundedcorner</string>
      <string>_segment.curve.capheight.inner</string>
      <string>_segment.curve.capheight.outer</string>
      <string>_stem.foot</string>
      <string>_stem.long.top</string>
      <string>_stem.long.top.indentright</string>
      <string>_stem.short</string>
      <string>_stem.short.top</string>
      <string>_tip</string>
      <string>uni2074</string>
    </array>
  </dict>
</plist>
